Port 22
Protocol 2
HostKey /home/cam/.ssh/host_ecdsa

PasswordAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
PubkeyAcceptedAlgorithms ecdsa-sha2-nistp256
X11Forwarding no
AllowTcpForwarding yes
LoginGraceTime 30
ClientAliveInterval 30
ClientAliveCountMax 10
StrictModes yes
AuthorizedKeysFile /home/cam/.ssh/authorized_keys
AllowUsers cam
PermitTTY yes
GatewayPorts clientspecified
